vimrc/my_configs.vim
vimrc/temp_dirs/undodir*
vimrc/sources_non_forked/ack.vim/.netrwhist
vimrc/temp_dirs/yankring_history_v2.txt
vimrc/sources_forked/yankring/doc/tags
vimrc/sources_non_forked/tlib/doc/tags
vimrc/sources_non_forked/YouCompleteMe/python/ycm_core.so
vimrc/sources_non_forked/YouCompleteMe/python/libclang.so
dotfiles/.bashrc_custom
